		<div class="col-sm-3">
			<ul id="steps" class="mainsteps">
	<li class="step_header"><strong>Other Services</strong></li>
  <li><%= link_to "Bankers' Contacts", bankers_contacts_path %></li>

	<li><%= link_to "Law Firms", law_firms_path %></li>
	<li><p>&nbsp;</p></li>
	<li><a href="/resources">Back to Resources</a></li>
</ul>
		</div>