    <div class="contents container">
	<div class="row">
		
		<%= render 'other_services' %>
		
		<div class="col-sm-9 resource_contents">
				   <h1>Bankers</h1>
				   <p>&nbsp;</p>
				   <ul class="banks">
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/ANZ.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/BOC.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/CIMB.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/citibank.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/DBS.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/HSBC.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/Maybank.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/OCBC+Logo.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/RHB.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/Stan+Chart.png"></li>
				     <li><img src="https://s3-ap-southeast-1.amazonaws.com/directhome/images/UOB.png"></li>
				   </ul>
					  
					  		</div>
					  	</div>
					  </div>
