    <div id="content" class="mob-max">
   <div class="page-wrapper">
	   <div class="page-content">
		   <div class="row ">    
			   <div class="col-sm-12">
				   <h2>Eligibility to Rent</h2>
				
				   
				   <ul class="nav nav-tabs">
					   <li class="active"><a data-toggle="tab" href="#sectionA"><p>Rent a HDB Unit</p></a></li>
					   <li><a data-toggle="tab" href="#sectionB"><p>Rent a Private Unit</p></a></li>
				   </ul>
				   <div class="tab-content">
					   <div id="sectionA" class="tab-pane fade in active">
						   <p class="small" style="margin-top:-15px;">Note: HDB terms "renting" the whole flat as "subletting" the whole flat</p>
						   <p>&nbsp;</p>
	   					   <h2 class="alignleft">Check Citizenship of Landlord</h2>
	   					   <p>Only Singapore Citizens are allowed to sublet the entire HDB flat to you.</p><p>Singapore Permanent Residents (SPRs) are not allowed to sublet their flat to you.</p>
	   					   <p>&nbsp;</p>
						   
   	   					   <h2 class="alignleft">Check Landlord's Minimum Occupation Period (MOP) of 5 years</h2>
   	   					   <p>Landlord has to fulfill the 5 years MOP before he can sublet the whole flat to you.</p>
<p>Ask landlord for a printed confirmation letter from HDB of his eligibility to sublet the whole flat.</p>

   	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Non-Citizen Quota for Subletting of Flat</h2>
	   					   <p>This quota is not applicable to you if you are Singaporean and Malaysian.</p>
<p>If you are a non-Malaysian non-citizen (Singapore Permanent Resident or foreigner), you have to check that this quota is not reached for you to rent a flat at the specified flat.</p>
<p>You may use <a href="https://services2.hdb.gov.sg/webapp/BR12AWSublettingQuota/BR12PEnquire.jsp" target="_blank">HDB e-Service</a> to check if you are eligible to rent a flat at the specified flat. </p>
	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Citizenship</h2>
	   					   <p>You as the subtenant must be any of the following:</p>
						   <ul class="plist">
							   <li>Singapore Citizens</li>
							   <li>Singapore Permanent Residents</li>
							   <li>Non-citizens legally residing in Singapore who are holders of Employment Passes, S Passes, Work Permits, Student Passes, Dependant Passes, or Long-Term Social Visit Passes. These passes must have a validity period of at least 6 months as at the date of your subletting application
								   <ul>
									   <li>Work Permit holders from the construction, marine and process sectors must be Malaysians</li>
									   <li>Tourists are not allowed as subtenants of HDB flats</li>
								   </ul>
							   </li>
							   
						   </ul>
	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Maximum number of subtenants</h2>
	   				    <div class="table-container"><table width="100%" class="styledtable">
	   					   <tr>
	   						   <th width="50%">Flat Type
	   						   </th>
	   						   <th width="50%">Maximum Number of Subtenants
	   							</th>
	   					   </tr>
	   					   <tr>
	   					   		<td>
	   								<p>1-room and 2-room
<p>3-room
<p>4-room and bigger</p>
	   							</td>
	   							<td>
	   								<p>4
<p>6
<p>9</p>
	   							</td>
	   					   </tr>
					   </table></div>
					   
					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Tenancy and property ownership status</h2>
	   					   <p>You as subtenant must not be tenant or owner of other HDB flat unless you are:</p>
						   <ul class="plist">
							   <li>Divorced/ legally separated. In this case, only 1 party can be a subtenant</li>
							   <li>Owners who are eligible to sublet their whole flat. However, they must sublet their own flat within a month after having sublet a flat from another flat owner</li>
						   </ul>
						   <p>You as subtenant must not be owner of Executive Condominium unit where the 5-year MOP has not been met.</p>

<p>&nbsp;</p><p>&nbsp;</p>
<p>Please call HDB Branch Office 1800 225 5432 if you need any clarifications</p>
						 
		   				    
			           </div>
						   
			           <div id="sectionB" class="tab-pane fade">
						   <h2 class="alignleft">Consideration to Rent a Private Property</h2>
						   
						   	   					   <p>Please take note that the minimum rental period of residential property in Singapore is 6 months.</p>
						   
						   						   <p>Please ensure the validity of your pass and/or document to stay in Singapore legally. Your landlord can check the validity from the various governing bodies.</p>
						   						   <ul class="plist">
						   							   <li><a href="https://ienquiry.ica.gov.sg/home.do" target="_blank">NRIC, Student Pass or Long Term Social Visit Pass</a></li>
						   							   <li><a href="https://wponline.mom.gov.sg/WPOLLoginController?action=WPOLLoginAction&actionType=WPOLNonLogin" target="_blank">Work permit</a></li>
						   							   <li><a href="https://eponline.mom.gov.sg/epol/PEPOLUAMT012DisplayAction.do" target="_blank">S Pass or Employment Pass</a></li>
						   						   </ul>
						   	   					   <p>&nbsp;</p>
			           </div>
			          
				           
				   </div>
			   </div>
                       
           </div>
	   </div>
   </div>
</div>
