    <div id="content" class="mob-max">
   <div class="page-wrapper">
	   <div class="page-content">
		   <div class="row ">    
			   <div class="col-sm-12">
				   <h2>Eligibility to Rent Out Your Property</h2>
				
				   
				   <ul class="nav nav-tabs">
					   <li class="active"><a data-toggle="tab" href="#sectionA"><p>Renting Out HDB Unit</p></a></li>
					   <li><a data-toggle="tab" href="#sectionB"><p>Renting Out Private Unit</p></a></li>
				   </ul>
				   <div class="tab-content">
					   <div id="sectionA" class="tab-pane fade in active">
						   <p class="small" style="margin-top:-15px;">Note: HDB terms "renting" the whole flat as "subletting" the whole flat</p>
						   <p>&nbsp;</p>
	   					   <h2 class="alignleft">Citizenship</h2>
	   					   <p>Only Singapore Citizens are allowed to sublet the entire HDB flat.</p> 
<p>Singapore Permanent Residents (SPRs) are not allowed to sublet their flat.</p>
	   					   <p>&nbsp;</p>
						   
   	   					   <h2 class="alignleft">Minimum Occupation Period (MOP) of 5 years</h2>
   	   					   <p>If you are the original purchaser, the MOP is computed from the date of purchase of the flat</p>
<p>If there has been a resale of part-share/ transfer of flat ownership, the MOP is computed from the effective date of the resale of part-share/ transfer of flat ownership, or the date the owner was included as an authorised occupier of the flat</p>
<p>You can print the confirmation of your eligibility to sublet the whole flat through My HDBPage. </p>
<p>(Log in with your SingPass and go to: My Flat > Purchased Flat – Subletting > Subletting of Whole Flat.)</p>

   	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Non-Citizen Quota for Subletting of Flat</h2>
	   					   <p>You will have to consider the Non-Citizen Quota for Subletting of Flat if any subtenant renting your flat is a non-Malaysian non-citizen (Singapore Permanent Resident or foreigner).</p>
<p>If the quota is reached, you can only sublet your flat to Singaporeans and Malaysians.</p>
<p>You may use <a href="https://services2.hdb.gov.sg/webapp/BR12AWSublettingQuota/" target="_blank">HDB e-Service</a> to check if your flat can be sublet to non-Malaysian non-citizens.</p>
	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Eligibility conditions for your subtenants</h2>
	   					   <p>Subtenants must be any of the following:</p>
						   <ul class="plist">
							   <li>Singapore Citizens</li>
							   <li>Singapore Permanent Residents</li>
							   <li>Non-citizens legally residing in Singapore who are holders of Employment Passes, S Passes, Work Permits, Student Passes, Dependant Passes, or Long-Term Social Visit Passes. These passes must have a validity period of at least 6 months as at the date of your subletting application
							   </li>
							   <li>Work Permit holders from the construction, marine and process sectors must be Malaysians</li>
							   <li>Tourists are not allowed as subtenants of HDB flats</li>
						   </ul>
<p>You can check online if your subtenant's documents are valid:</p>
						   <ul class="plist">
							   <li><a href="https://ienquiry.ica.gov.sg/home.do" target="_blank">NRIC, Student Pass or Long Term Social Visit Pass</a></li>
							   <li><a href="https://wponline.mom.gov.sg/WPOLLoginController?action=WPOLLoginAction&actionType=WPOLNonLogin" target="_blank">Work permit</a></li>
							   <li><a href="https://eponline.mom.gov.sg/epol/PEPOLUAMT012DisplayAction.do" target="_blank">S Pass or Employment Pass</a></li>
						   </ul>
	   					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Maximum number of subtenants</h2>
	   				    <div class="table-container"><table width="100%" class="styledtable">
	   					   <tr>
	   						   <th width="50%">Flat Type
	   						   </th>
	   						   <th width="50%">Maximum Number of Subtenants
	   							</th>
	   					   </tr>
	   					   <tr>
	   					   		<td>
	   								<p>1-room and 2-room
<p>3-room
<p>4-room and bigger</p>
	   							</td>
	   							<td>
	   								<p>4
<p>6
<p>9</p>
	   							</td>
	   					   </tr>
					   </table></div>
					   
					   <p>&nbsp;</p>
						   
						   <h2 class="alignleft">Tenancy and property ownership status of your subtenants</h2>
	   					   <p>Subtenants must not be tenants or owners of other HDB flats unless they are:</p>
						   <ul class="plist">
							   <li>Divorced/ legally separated. In this case, only 1 party can be a subtenant</li>
							   <li>Owners who are eligible to sublet their whole flat. However, they must sublet their own flat within a month after having sublet a flat from another flat owner</li>
						   </ul>
						   <p>Subtenants must not be owners of Executive Condominium units where the 5-year MOP has not been met.</p>
<p>&nbsp;</p><p>&nbsp;</p>

<p>Please call HDB Branch Office 1800 225 5432 if you need any clarifications</p>
						 
		   				    
			           </div>
						   
			           <div id="sectionB" class="tab-pane fade">
						    <h2 class="alignleft">Consideration to Rent out your Private Property</h2>
						   	   					   <p>To take note that renting out of the whole unit of private residential property is only allowed for long-term stays of 6 months or more.</p>
						   
						   						   <p>Please check the validity of your tenants' documents</p>
						   						   <ul class="plist">
						   							   <li><a href="https://ienquiry.ica.gov.sg/home.do" target="_blank">NRIC, Student Pass or Long Term Social Visit Pass</a></li>
						   							   <li><a href="https://wponline.mom.gov.sg/WPOLLoginController?action=WPOLLoginAction&actionType=WPOLNonLogin" target="_blank">Work permit</a></li>
						   							   <li><a href="https://eponline.mom.gov.sg/epol/PEPOLUAMT012DisplayAction.do" target="_blank">S Pass or Employment Pass</a></li>
						   						   </ul>
						   	   					   <p>&nbsp;</p>
			           </div>
					   
					   <div class="row center">
						   <a href="/list" class="btn btn-lg btn-red cente">Start Listing</a>
				        </div>
			          
				           
				   </div>
			   </div>
                       
           </div>
	   </div>
   </div>
</div>
