    <div id="content" class="mob-max">
   <div class="page-wrapper">
	   <div class="page-content">
		   <div class="row ">    
			   <div class="col-sm-12">
				   <h2>Eligibility to Sell</h2>
				   <!-- <a href="how_it_works_seekers" class="btn btn-lg btn-red" id="altbtn">For Home Seekers</a> -->
				   
				   <ul class="nav nav-tabs">
					   <li class="active"><a data-toggle="tab" href="#sectionA"><p>Selling HDB Unit</p></a></li>
					   <li><a data-toggle="tab" href="#sectionB"><p>Selling Private Unit</p></a></li>
				   </ul>
				   <div class="tab-content">
					   <div id="sectionA" class="tab-pane fade in active">
						   <h2 class="alignleft">Minimum Occupation Period (MOP) of 5 years</h2>
						   <p>The MOP is calculated from the date you collect the keys to your flat. It excludes any period where you do not occupy the flat, such as when the whole flat is rented out or when there has been an infringement of the flat lease.</p>
						   <p>&nbsp;</p>
   					    <div class="table-container"><table width="100%" class="styledtable">
   						   <tr>
   							   <th width="30%">MOP
   							   </th>
   							   <th width="70%">Type of Purchase
   								</th>
   						   </tr>
   						   <tr>
   						   		<td><p>5 years</p></td>
   								<td>
									<p>Flat bought from HDB</p>
<p>Design, Build and Sell Scheme (DBSS) flat bought from a developer</p>
<p>Flat bought under the Selective En bloc Redevelopment Scheme (SERS) with portable SERS rehousing benefits</p>
<p>Resale flat bought from the open market with the CPF Housing Grant</p>
<p>2-room or bigger resale flat bought from the open market without the CPF Housing Grant
<p>Flat bought under SERS*</p>
* Or 7 years from the date of selection of the replacement flat, whichever is earlier</td>
						   </tr>
  						   <tr>
  						   		<td><p>N/A</p></td>
  								<td>
								<p>1-room resale flat bought from the open market without the CPF Housing Grant</p></td>
	
  						   </tr>
   					    </table></div>
						
						<p>Sellers can submit a request for confirmation on the Minimum Occupation Period they have fulfilled via the <a href="https://services2.hdb.gov.sg/webapp/BP21NonPortalWeb/jsp/ETS/BP21PEligibilitytoSell.jsp" target="_blank">Computation of Occupation Period for Purpose of Resale.</a></p><p>&nbsp;</p>
						
					   <h2 class="alignleft">Ethnic Integration Policy, and Singapore Permanent Resident quota for your block/ neighbourhood</h2>
					   <p>Just use this <a href="http://services2.hdb.gov.sg/webapp/BB29ETHN/BB29STREET" target="_blank">HDB Enquiry service</a> to check if you can sell your flat to any buyer, regardless of their ethnic group and citizenship.</p>
					   <p>Your buyer will not be able to buy your flat if the purchase causes your block/ neighbourhood’s EIP and/ or SPR quota to exceed.</p>
					   <p>&nbsp;</p>
				    <div class="table-container"><table width="100%" class="styledtable">
					   <tr>
						   <th width="70%">Buyer Household's Citizenship
						   </th>
						   <th width="30%">Quota to Meet
							</th>
					   </tr>
					   <tr>
					   		<td>
								<p>SC household (At least 1 SC listed as buyer)</p>
							</td>
							<td>
								<p>EIP</p>
							</td>
					   </tr>
					   <tr>
					   		<td>
								<p>Malaysian SPR household (No SC listed as buyer and at least 1 Malaysian SPR listed as buyer)</p>
							</td>
							<td>
							<p>EIP</p>
							</td>
					   </tr>
					   <tr>
					   		<td>
								<p>Non-Malaysian SPR household
(All buyers are non-Malaysian SPRs)</p>
							</td>
							<td>
							<p>EIP and SPR
</p>
							</td>
					   </tr>
				    </table></div>
					
					<p>There is no restriction on the sale and purchase of an HDB flat if:</p>
				   <ul class="plist">
					   <li>The proportion of the buyer's ethnic group/ SPR quota is within the prescribed block/ neighbourhood limits</li>
					   <li>The buyer and you are of the same ethnic group and/ or citizenship type</li>
				   </ul>



<p>The ethnic proportions and SPR quota are updated on the 1st of every month. They are applicable for resale applications submitted to HDB for that same month.</p>
<p>&nbsp;</p>

					   <h2 class="alignleft">For cases of bankruptcy, divorce, or death, additional requirements may be needed</h2>
					   <p><strong>Bankruptcy</strong></p>
					   <p>The Official Assignee (OA)'s consent is not required if you would like to sell your flat, as long as 1 of the flat owners is a Singapore Citizen. Otherwise, you will need a letter of consent from the OA before you grant your prospective buyer an Option to Purchase.</p>
					   <p><strong>Divorce</strong></p>
					   <p>If you go through a divorce after meeting the MOP, you can sell the flat if all eligibility conditions are met.</p>
						   <p>You need to produce the following documents:</p>
						   <ul class="plist">
							   <li>Writ for Judicial Separation (previously known as Deed of Separation); or</li>
							   <li>Interim Judgment (previously known as Decree Nisi) and Certificate of Making Interim Judgment Final (previously known as Certificate of Making the Decree Nisi Absolute); or</li>
							   <li>Divorce Certificate (for Muslims); and</li>
							   <li>Order of Court (if any).</li>
						   </ul>



					   <p><strong>Demise of sole owner</strong></p>
					   <p>If the flat's sole owner passes away, his interest in the flat will be distributed according to his will, or to the provisions of the Intestate Succession Act if there is no will. A court order is required to obtain legal authority to administer the deceased's estate.</p>
					   <p>&nbsp;</p>
				    
				   <h2 class="alignleft">Seller's Stamp Duty</h2>
				   <p>If HDB granted you special approval to sell your HDB within the 5 years MOP, there might be Seller's Stamp Duty payable if you sell your flat within 4 years of purchase.</p>
				   <p>&nbsp;</p>
				   <p>&nbsp;</p>
				   <p>Please call HDB Customer Support 1800 866 3066 or IRAS Stamp Duties 1800 460 4923 if you need any clarifications</p>
						
			           </div>
						   
			           <div id="sectionB" class="tab-pane fade">
   						   <h2 class="alignleft">Consideration to Sell your Private Property</h2>
   						   <p>To take note of the Seller's Stamp Duty (SSD) imposed on residential property bought on or after 14 January 2011 and sold within 4 years of purchase, at rates of  16%, 12%, 8% and 4% for property sold in the first, second, third and fourth year of purchase respectively.</p>
   						   <p>&nbsp;</p>
      					    <div class="table-container"><table width="100%" class="styledtable">
      						   <tr>
      							   <th width="20%">Date of Purchase
      							   </th>
      							   <th width="40%">Holding Period
      								</th>
       							   <th width="40%">SSD Rate (on the actual price or market value, whichever is higher)
       								</th>
      						   </tr>
      						   <tr>
      						   		<td><p>On and after 14 Jan 2011



</p></td>
      								<td>
   									<p>Up to 1 year</p>
<p>More than 1 year and up to 2 years</p>
<p>More than 2 years and up to 3 years</p>  
<p>More than 3 years and up to 4 years  </p>
<p>More than 4 years</p></td>
	<td>
		<p>16%</p>
		<p>12%</p>
		<p>8%</p>
		<p>4%</p>
		<p>No SSD payable</p>
	</td>
   						   </tr>
      					    </table></div>
			           </div>
					   
					   <div class="row center">
						   <a href="/list" class="btn btn-lg btn-red cente">Start Listing</a>
				        </div>
			          
				           
				   </div>
			   </div>
                       
           </div>
	   </div>
   </div>
</div>
