    <div id="content" class="mob-max">
   <div class="page-wrapper">
	   <div class="page-content">
		   <div class="row ">    
			   <div class="col-sm-12">
				   <h2>Eligibility to Buy</h2>
				   <!-- <a href="how_it_works_seekers" class="btn btn-lg btn-red" id="altbtn">For Home Seekers</a> -->
				   
				   <ul class="nav nav-tabs">
					   <li class="active"><a data-toggle="tab" href="#sectionA"><p>Buying resale HDB Unit</p></a></li>
					   <li><a data-toggle="tab" href="#sectionB"><p>Buying Private Unit</p></a></li>
				   </ul>
				   <div class="tab-content">
					   <div id="sectionA" class="tab-pane fade in active">
						   <p>You can use the <a href="http://services2.hdb.gov.sg/webapp/BP13EligCheck/BP13SHome?strSystem=CHECK" target="_blank">Eligibility Check for purchase of new or resale HDB flat</a> to do a quick assessment on your eligibility.</p>
						   <p>&nbsp;</p>
						   <h2 class="alignleft">You have to ensure that you are eligible to buy a resale HDB under one of HDB's Eligibility Schemes.</h2>
						  <p>Eligibility conditions that apply to all schemes	</p>
					
   					    <div class="table-container"><table width="100%" class="styledtable">
   						   <tr>
   							   <th width="30%">Criteria
   							   </th>
   							   <th width="70%">Details
   								</th>
   						   </tr>
   						   <tr>
   						   		<td><p>Income ceiling

</p></td>
   								<td>
									<p>None</p>

Note: While there is no income ceiling for buying an HDB resale flat, there are income ceilings for CPF Housing Grants and HDB housing loans.</td>
						   </tr>
  						   <tr>
  						   		<td><p>Ownership/ interest in HDB flats</p></td>
  								<td>
								<p>If you or any persons listed in the application owns an HDB flat, you must dispose of the HDB flat within 6 months of the resale flat purchase</p></td>
	
  						   </tr>
						   <tr>
  						   		<td><p>Ownership/ interest in property in Singapore or overseas other than HDB flats

</p></td>
  								<td>
								<p>If you or any person listed in your resale flat application owns a private property either locally or overseas, you must dispose of all private properties before or within 6 months of the resale flat purchase</p>Note: If you own a private property, you are not eligible for a CPF Housing Grant or an HDB housing loan.</td>
	
  						   </tr>
   					    </table></div>
						<p>&nbsp;</p>
						
						
						
						
					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Public Scheme</a></h2>
					   <div class="toreveal">
							   <p>Buy an HDB resale flat with your family. For example, with your wife and children, parents and siblings, or children (if you are widowed or divorced).</p>
							   <p>&nbsp;</p>
						    <div class="table-container"><table width="100%" class="styledtable">
							   <tr>
								   <th width="30%">Criteria
								   </th>
								   <th width="70%">Details
									</th>
							   </tr>
							   <tr>
							   		<td>
										<p>Citizenship




		</p>
									</td>
									<td>
										<p>You must:</p>
											<ul class="plist">
												<li>Be an SC or SPR</li>
												<li>Include at least 1 listed occupant who is an SC or SPR</li>
												<li>SPR household (i.e. a SPR household with no SC owner): All SPR owners and essential occupiers will have to wait 3 years from the date of obtaining SPR status before they can buy a resale flat</li>
											</ul>

									</td>
							   </tr>
							   <tr>
							   		<td>
										<p>Age</p>
									</td>
									<td>
									<p>21 years old or above</p>
									</td>
							   </tr>
							   <tr>
							   		<td>
										<p>Family nucleus</p>
									</td>
									<td>
										<p>You must form a family nucleus with 1 of the following groups. Your:</p>
											<ul class="plist">
												<li>Spouse and children</li>
												<li>Parents and siblings</li>
												<li>Children under your legal custody, care and control (for widowed/ divorced persons)</li>
											</ul>

									</td>
							   </tr>
							   <tr>
							   		<td>
										<p>EIP and SPR quota</p>
									</td>
									<td>
									<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
									</td>
							   </tr>
						    </table></div>
							<p>&nbsp;</p>
					   </div>

	
					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Fiancé/Fiancée Scheme</a></h2>
					   <div class="toreveal">
					   <p>Buy an HDB resale flat with your fiancé or fiancée.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You and your fiancé or fiancée must be either:</p>
		   									<ul class="plist">
		   										<li>SC or SPR</li>
		   										<li>SPR household (i.e. a SPR household with no SC owner): All SPR owners and essential occupiers will have to wait 3 years from the date of obtaining SPR status before they can buy a resale flat</li>
		   									</ul>

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
		   							<p>21 years old or above</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Family nucleus</p>
		   							</td>
		   							<td>
		   								<p>Your fiancé or fiancée must be listed in the application as either:</p>
		   									<ul class="plist">
		   										<li>A co-applicant (if 21 years old or above)</li>
<li>An occupant</li>

Note: Special conditions apply for fiancé or fiancée below 21 years old
		   									</ul>

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Special conditions</p>
		   							</td>
		   							<td>
		   							<p>You and your fiancé or fiancée must:</p>
									<ul class="plist">
										<li>Register your marriage with the Registry of Civil Marriages or Registry of Muslim Marriages</li>
										<li>Submit your marriage certificate to HDB within 3 months from  resale completion date </li>
									</ul>
									
		   							<p>If applying for CPF Housing Grant</p>
									<ul class="plist">
										<li>You must submit your marriage certificate on or before the resale completion date</li>
									</ul>
									
		   							<p>Consent of parents</p>
									<ul class="plist">
										<li>If your fiancé or fiancée is between 18 and 21 years old, his/ her parents must agree to the purchase.</li>
									</ul>
									
		   							<p>Special Marriage Licence</p>
									<ul class="plist">
										<li>If your fiancé or fiancée is below 18 years old, you need to apply for a Special Marriage Licence from the Ministry of Social and Family Development and submit it to HDB for verification.</li>
									</ul>
									
		   							<p>Divorcees are required to produce the following for verification:</p>
									<ul class="plist">
										<li>Interim Judgment (previously known as Decree Nisi)</li>
<li>Order of Court</li>
<li>Final Judgment (previously known as Decree Nisi Absolute)</li>
									</ul>
									
		   							</td>
		   					   </tr>
		   				    </table></div>
							
							<p>&nbsp;</p>
						</div>

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Single Singapore Citizen Scheme</a></h2>
					   <div class="toreveal">
					   <p>Buy an HDB resale flat as a single. You must be at least 35 years old if you are unmarried or divorced, and at least 21 years old if you are widowed or an orphan. </p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You must be an SC</p>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
		   							<p>Unmarried or divorced: 35 years old or above</p>
<p>Widowed or an orphan: 21 years old or above</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Special conditions</p>
		   							</td>
		   							<td>
		   							<p>For orphans:</p>
									<ul class="plist">
										<li>At least one of your deceased parents must have been an SC or SPR</li>
<li>If you are below 35 years old, you must not have another sibling who is below 35 years old buying/ owning another flat under the:
									<ul class="plist">
										<li>​Orphans Scheme</li>
<li>Single Singapore Citizen Scheme</li>
<li>Joint Singles Scheme</li>
									</ul>
</li>
									</ul>
									
		   							
		   							</td>
		   					   </tr>
		   				    </table></div>
							
							<p>&nbsp;</p>
						</div>
						
							

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Joint Singles Scheme</a></h2>
					   <div class="toreveal">
					   <p>2 to 4 singles can jointly buy an HDB resale flat. If you are unmarried or divorced, you must be at least 35 years old. If you are widowed or an orphan, you must be at least 21 years old.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You and all the co-applicants must be SCs</p>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
		   							<p>Unmarried or divorced: 35 years old or above</p>
<p>Widowed or an orphan: 21 years old or above</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Special conditions</p>
		   							</td>
		   							<td>
										<p>The flat must be bought jointly, i.e. each single SC must be listed as a co-applicant</p>
		   							<p>For orphans:</p>
									<ul class="plist">
										<li>At least one of your deceased parents must have been an SC or SPR</li>
<li>If you are below 35 years old, you must not have another sibling who is below 35 years old buying/ owning another flat under the:
									<ul class="plist">
										<li>​Orphans Scheme</li>
<li>Single Singapore Citizen Scheme</li>
<li>Joint Singles Scheme</li>
									</ul>
</li>
									</ul>
									
		   							
		   							</td>
		   					   </tr>
		   				    </table></div>
							<p>&nbsp;</p>
						</div>

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Non-Citizen Spouse Scheme</a></h2>
					   <div class="toreveal">
					   <p>If your spouse is not a SC or SPR, you can buy a HDB resale flat under the Non-Citizen Spouse Scheme.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You must be an SC</p>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
			   							<p>If you are 21 years old or above</p>
										<ul class="plist">
											<li>Your spouse must have a <a href="http://www.ica.gov.sg/services_centre_overview.aspx?pageid=376&secid=171" target="_blank">Long Term Visit Pass</a> or <a href="http://www.mom.gov.sg/passes-and-permits" target="_blank">Work Pass</a>. The pass must be valid for at least 6 months and valid at the time you submit your application to buy a resale flat.</li>
										</ul>
		   							<p>If you are 35 years old or above</p>
									<ul class="plist">
										<li>Your spouse must have a <a href="http://www.ica.gov.sg/services_centre_overview.aspx?pageid=254" target="_blank">Visit Pass</a> or <a href="http://www.mom.gov.sg/passes-and-permits" target="_blank">Work Pass</a>. The pass can have a validity period of less than 6 months. However, it must be valid at the time you submit your application to buy a resale flat.</li>
									</ul>
									<p>Note: If the Visit Pass or Work Pass expires during the transaction to buy a resale flat, it must be renewed and valid by the time of your resale flat purchase completion date.</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Family nucleus</p>
		   							</td>
		   							<td>
		   							<p>Your non-citizen spouse must be listed in the application as an occupier</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
							   					   
		   					   <tr>
		   				    </table></div>
							<p>&nbsp;</p>
						</div>

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Non-Citizen Family Scheme</a></h2>
					   <div class="toreveal">
					   <p>If you are a single SC and your family members (e.g. parents) are not SCs or SPRs, you can buy a HDB resale flat under the Non-Citizen Family Scheme.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You must be an SC</p>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
			   							<p>21 years old or above</p>
										
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Family nucleus</p>
		   							</td>
		   							<td>
		   							<p>You must form a family nucleus with 1 of the following groups:</p>
									<ul class="plist">
										<li>Your parents and siblings (if any)</li>
										<li>Children under your legal custody, care and control (for widowed/ divorced persons) </li>
									</ul>
									<p>At least 1 parent/ child must have a valid <a href="http://www.ica.gov.sg/services_centre_overview.aspx?pageid=376&secid=171" target="_blank">Long Term Visit Pass</a> or <a href="http://www.mom.gov.sg/passes-and-permits" target="_blank">Work Pass</a>. The pass must be valid for at least 6 months and valid at the time you submit your application to buy a resale flat.</p>
									Note:If the Visit Pass or Work Pass expires during the transaction to buy a resale flat, it must be renewed and valid by the time of your resale flat purchase completion date.
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
							   					   
		   					   <tr>
		   				    </table></div>
							<p>&nbsp;</p>
						</div>

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Orphans Scheme</a></h2>
					   <div class="toreveal">
					   <p>If you and your sibling(s) are orphans and single, you can jointly buy a HDB resale flat.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You must:</p>
										<ul class="plist">
											<li>Be an SC</li>
											<li>Include at least 1 unmarried SC or SPR sibling as a co-applicant or occupant in your application</li>
										</ul>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
			   							<p>21 years old or above</p>
										
		   							</td>
		   					   </tr>
		   					   
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</p>
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Special conditions</p>
		   							</td>
		   							<td>
		   							<p>Your application must comprise yourself (an unmarried orphan) and your unmarried sibling(s)</p>
<p>At least one of your deceased parents must have been an SC or SPR</p>
<p>If you are below 35 years old, you must not have another sibling who is below 35 years old buying/ owning another flat under the:</p>
										<ul class="plist">
											<li>Orphans Scheme</li>
											<li>Single Singapore Citizen Scheme </li>
<li>Joint Singles Scheme</li>
										</ul>
		   							</td>
		   					   </tr>
							   					   
		   					   <tr>
		   				    </table></div>
							<p>&nbsp;</p>
						</div>

					   <h2 class="alignleft" style="font-size:20px"><a href="#" class="reveal" style="color:#ea3d36">Conversion Scheme</a></h2>
					   <div class="toreveal">
					   <p>Subject to approval, the Conversion Scheme allows you and your family to buy adjoining flats that are 3-room or smaller and convert them into 1 unit.</p>
<p>You can buy 2 adjoining 3-room or smaller flats, or buy the 3-room or smaller flat that is adjoined to your currently owned 3-room or smaller flat.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="30%">Criteria
		   						   </th>
		   						   <th width="70%">Details
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Citizenship
		   </p>
		   							</td>
		   							<td>
		   								<p>You must:</p>
										<ul class="plist">
											<li>Be an SC or SPR</li>
											<li>Include at least 1 listed occupant who is an SC or SPR</li>
										</ul>
		   									

		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Age</p>
		   							</td>
		   							<td>
			   							<p>21 years old or above</p>
										
		   							</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p>Family nucleus</p>
		   							</td>
		   							<td>
			   							<p>You must form a family nucleus with 1 of the following groups:</p>
										<ul class="plist">
											<li>Your spouse and children (if any)</li>
											<li>Your parents and siblings (if any)</li>
<li>Children under your legal custody, care and control (for widowed/ divorced persons)</li>
										</ul>
										
		   							</td>
		   					   </tr>
		   					   
		   					   <tr>
		   					   		<td>
		   								<p>EIP and SPR quota</p>
		   							</td>
		   							<td>
		   							<p>Option 1 (Buy 2 adjoining 3-room or smaller flats)</p>
									<ul class="plist">
										<li>In line with the EIP and SPR quota, you will need to check that you are within the proportion/ limit for the block/ neighbourhood</li>
									</ul>
		   							<p>Option 2 (Buy the 3-room or smaller flat that adjoins your currently owned 3-room or smaller flat)</p>
									<ul class="plist">
										<li>No EIP/ SPR quota restriction</li>
									</ul>



</p>
		   							</td>
		   					   </tr>
		   					   
		   				    </table></div>
							<p>&nbsp;</p>
						</div>






<p>&nbsp;</p>
					   <h2 class="alignleft">Ethnic Integration Policy, and Singapore Permanent Resident quota for the block/ neighbourhood</h2>
					   <p>When buying an HDB resale flat, buyers need to ensure they are within the EIP proportion for the block/ neighbourhood, and if applicable, the SPR quota as well.</p>
		   				    <div class="table-container"><table width="100%" class="styledtable">
		   					   <tr>
		   						   <th width="70%">Household’s Citizenship
		   						   </th>
		   						   <th width="30%">Quota to Meet
		   							</th>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p><strong>SC household</strong></p>
<p>At least 1 Singapore Citizen (SC) is listed as a buyer
		   </p>
		   							</td>
		   							<td>EIP</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p><strong>Malaysian SPR household</strong></p>
<p>At least 1 Malaysian SPR is listed as a buyer, and no SC is listed as a buyer</p>
		   							</td>
		   							<td>
			   							<p>EIP
</p>
									</td>
		   					   </tr>
		   					   <tr>
		   					   		<td>
		   								<p><strong>Non-Malaysian SPR household</strong></p>
<p>All of the buyers are non-Malaysian SPRs, i.e. no SCs or Malaysian SPRs listed as buyers</p>
		   							</td>
		   							<td>
			   							<p>EIP and SPR
</p>
										
		   							</td>
		   					   </tr>
		   					   
		   				    </table></div>
							<p>You are considered as having fulfilled the EIP proportion or SPR quota under these circumstances:</p>
 						   <ul class="plist">
 							   <li>You are within the block/ neighbourhood’s limits in terms of your ethnic group and the SPR quota,</li>
 							   <li>You and the seller are of the same ethnic group and household citizenship type</li>
 						   </ul>
						   <p>You can use HDB e-Service to check if you are eligible to buy an HDB resale flat in a particular block or neighbourhood under the <a href="http://services2.hdb.gov.sg/webapp/BB29ETHN/BB29STREET" target="_blank">EIP and SPR quota.</a></p>
						   <p>The ethnic proportions and SPR quota are updated on the 1st of every month, and will apply to all completed resale applications received during that month.</p>
						   <p>You and the sellers must meet the Ethnic Integration Policy (EIP) and the Singapore Permanent Resident (SPR) quota requirement on the <span style="text-decoration:underline">date of resale application<span>.</p>
			   				    <p>&nbsp;</p>

						   <h2 class="alignleft">Financing (preferably to get this done once you have intention to buy)</h2>
						   <p>If you are getting a housing loan from HDB, please ensure that you meet the loan eligibility conditions and have a valid HDB Loan Eligibility (HLE) Letter when exercising the Option To Purchase and when submitting the resale application.</p>
<p>If you are getting a bank loan, please ensure that you get an In-Principle Approval (IPA) from the bank and a bank's Letter of Offer when exercising the Option To Purchase.  You must have accepted the Letter of Offer when submitting the resale application.</p>
<p>&nbsp;</p>
						   <h2 class="alignleft">Singapore Permanent Resident (SPR) household</h2>
						   <p>If you are a SPR household (i.e. a SPR household with no Singapore Citizen (SC) owner), Additional Buyer's Stamp Duty of 5% is applicable.</p>
<p>&nbsp;</p>
						   <p>SPR households must wait 3 years from the date of obtaining SPR status, before they can buy a resale HDB flat.</p>
<p>&nbsp;</p>
						   <p>Note: After the purchase of HDB flat by SPR household:
						   <br>(1) Disallowed from renting out their whole flat even after meeting the Minimum Occupation Period (MOP) of 5 years. However, renting out of rooms is still allowed.
						   <br>(2) Must sell their HDB flat within 6 months if SPR household buys a private residential property in Singapore.</p>
						  <p>&nbsp;</p><p>&nbsp;</p>
				   <p>Please call HDB Customer Support 1800 866 3066 or IRAS Stamp Duties 1800 460 4923 if you need any clarifications</p>
				   <p>&nbsp;</p>

				   					   <!-- <h2 class="alignleft">CPF Housing Grants</h2>
				   					   <p>You may be eligible for certain CPF Housing Grants. This depends on the eligibility scheme you purchase your flat under.</p>
				   		   				    <div class="table-container"><table width="100%" class="styledtable">
				   		   					   <tr>
				   		   						   <th width="40%">Eligibility Scheme
				   		   						   </th>
				   		   						   <th width="60%">Possible CPF Grants
				   		   							</th>
				   		   					   </tr>
				   		   					   <tr>
				   		   					   		<td>
				   		   								<p>Public Scheme</p>
<p>Conversion Scheme</p>
				   		   							</td>
				   		   							<td>EIP</td>
				   		   					   </tr>
				   		   					   <tr>
				   		   					   		<td>
				   		   								<p>Malaysian SPR household</p>
				   <p>At least 1 Malaysian SPR is listed as a buyer, and no SC is listed as a buyer</p>
				   		   							</td>
				   		   							<td>
				   			   							<p>Family Grant</p>
<p>Additional Housing Grant</p>
<p>Half-Housing Grant</p>
<p>Singles Grant</p>
<p>AHG (Singles) Grant</p>
<p>Proximity Housing Grant</p>
				   									</td>
				   		   					   </tr>
				   		   					   <tr>
				   		   					   		<td>
				   		   								<p>Fiancé/Fiancée Scheme</p>
				   		   							</td>
				   		   							<td>
				   			   							<p>Family Grant</p>
<p>AHG</p>
<p>Half-Housing Grant</p>
<p>Proximity Housing Grant
				   </p>

				   		   							</td>
				   		   					   </tr>
											   <tr>
				   		   					   		<td>
				   		   								<p>Single Singapore Citizen Scheme</p>
<p>Non-Citizen Spouse Scheme</p>
<p>Non-Citizen Family Scheme</p>
				   		   							</td>
				   		   							<td>
				   			   							<p>Singles Grant</p>
<p>AHG (Singles) Grant</p>
<p>Top-Up Grant (at a later stage)</p>
<p>Proximity Housing Grant</p>

				   		   							</td>
				   		   					   </tr>
											   <tr>
				   		   					   		<td>
				   		   								<p>Joint Singles Scheme</p>
<p>Orphans Scheme</p>
				   		   							</td>
				   		   							<td>
				   			   							<p>Singles Grant</p>
<p>AHG (Singles) Grant</p>
<p>Proximity Housing Grant (for Joint Singles Scheme only)</p>

				   		   							</td>
				   		   					   </tr>

				   		   				    </table></div>
											<p>Please click <a href="" target="_blank">here</a> to determine if you meet the  eligibility conditions for the CPF Housing Grant/s to finance your purchase.</p> -->
						
			           </div>
						   
			           <div id="sectionB" class="tab-pane fade">
   						   <h2 class="alignleft">Consideration to Buy your Private Property</h2>
   						   <p>To take note of the Additional Buyer's Stamp Duty (ABSD) rate payable from 12 January 2013, depending on the profile of the buyer.</p>
   						   <p>&nbsp;</p>
      					    <div class="table-container"><table width="100%" class="styledtable">
      						   <tr>
      							   <th width="40%" style="text-align:center">Profile of Buyer
      							   </th>
      							   <th width="30%" style="text-align:center"> BSD Rates
      								</th>
       							   <th width="30%" style="text-align:center">ABSD Rates from 12 Jan 2013</th>
      						   </tr>
      						   <tr>
      						   		<td><p>Singapore Citizens (SC) buying first residential property</p></td>
      								<td rowspan="6"><p>1% on first $180,000</p>
<p>2% on next $180,000</p>
<p>3% for the remainder</p>
</td>
									<td> Not applicable </td>
   						   </tr>
      						   <tr>
      						   		<td><p>SC buying second residential property</p></td>
      							
									<td> 7%</td>
   						   </tr>
      						   <tr>
      						   		<td><p>SC buying third and subsequent residential property</p></td>
									<td> 10%</td>
   						   </tr>
      						   <tr>
      						   		<td><p>Singapore Permanent Residents (SPR) buying first residential property</p></td>
									<td> 5%</td>
   						   </tr>
      						   <tr>
      						   		<td><p>SPR buying second and subsequent residential property</p></td>
									<td> 10%</td>
   						   </tr>
      						   <tr>
      						   		<td><p>Foreigners (FR) and entities buying any residential property</p></td>
									<td>15%  </td>
   						   </tr>
      					    </table></div>
							<p>&nbsp;</p>
    						   <h2 class="alignleft">Financing (preferably to get this done once you have intention to buy)</h2>
    						   <p>If you are getting a bank loan, please ensure that you get an In-Principle Approval (IPA) from the bank and a bank's Letter of Offer when exercising the Option To Purchase .</p>
    						   
			           </div>
			          
				           
				   </div>
			   </div>
                       
           </div>
	   </div>
   </div>
</div>
