<div id="content" class="mob-max">
   <div class="page-wrapper">
     <div class="page-content">
       <div class="row ">    
         <div class="col-sm-12">
           <h2>Why Use DirectHome?</h2>
           
           <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#sectionA" class="fade in"><p>I am a Home Owner</p></a></li>
             <li><a data-toggle="tab" href="#sectionB" class="fade"><p>I am a Home Seeker</p></a></li>
           </ul>
           <div class="tab-content">
             <div id="sectionA" class="tab-pane fade in active">
                       <div class="row ">
                           <div class="col-sm-12">
                   <p>DirectHome is an online platform portal for sellers and landlords to list their homes directly and provides the step-by-step process flow for you to transact successfully with the buyers and tenants. </p>
<p>With DirectHome messaging system, home owners (sellers & landlords) and home seekers (buyers & tenants) can contact one another directly to arrange for viewings.</p>
<p>DirectHome also breaks down all the forms and paperwork requirements into simple steps that anyone, and everyone will be able to fill up.</p>
<p>What’s more! Financial calculations with valuation of the home and Timeline schedule planning are accessed and given to home owners and home seekers! All related forms are downloadable from your user dashboard too.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
  <div class="col-sm-4">
    
    <div class="table-container"><table class="styledtable">
      <tr>
        <th style="text-align:center;text-transform:uppercase">Financial Calculations</th>
      </tr>
      <tr>
        <td><ul class='plist'>
      <li>Valuation of property (HDB & Private)</li>
      <li>Seller's Stamp Duty</li>
      <li>Break-even selling price</li>
      <li>Profit</li>
      <li>Amount Received from Sale in CPF & Cash</li>
      <li>Total Amount Available for next purchase</li>
      <li>Rental prices</li>
    </ul></td>
      </tr>
    </table></div>
<!-- <p style="text-align:center;"><strong>Financial Calculations:</strong></p>
<ul class='plist'>
  <li>Valuation of property (HDB & Private)</li>
  <li>Seller's Stamp Duty</li>
  <li>Break-even selling price</li>
  <li>Profit</li>
  <li>Amount Received from Sale in CPF & Cash</li>
  <li>Total Amount Available for next purchase</li>
  <li>Rental prices</li>
</ul> -->
</div>

<div class="col-sm-4">
  <div class="table-container"><table class="styledtable">
    <tr>
      <th style="text-align:center;text-transform:uppercase">Timeline Schedule Plan</th>
    </tr>
    <tr>
      <td><ul class='plist'>
    <li>To have a roof over you at all times, with time for renovation</li>
    <li>To receive the Sale proceed to pay for the next property Purchase</li>
  </ul></td>
    </tr>
  </table></div>
<!-- <p style="text-align:center;"><strong>Timeline Schedule Plan:</strong></p>
<ul class='plist'>
  <li>To have a roof over you at all times, with time for renovation</li>
  <li>To receive the Sale proceed to pay for the next property Purchase</li>
</ul> -->
</div>

<div class="col-sm-4">

  <div class="table-container"><table class="styledtable">
    <tr>
      <th style="text-align:center;text-transform:uppercase">Forms - How to Fill</th>
    </tr>
    <tr>
      <td><ul class='plist'>
    <li>Sale & Purchase
        <ul>
          <li>Option To Purchase</li>
          <li>Resale Checklist for Sellers & Buyers</li>
        </ul>
      </li>
      <li>Rental
        <ul>
          <li>Tenancy Agreement</li>
          <li>Letter Of Intent</li>
          <li>Inventory List</li>
          <li>e-Stamping</li>
        </ul>
      </li>
  </ul></td>
    </tr>
  </table></div>

<!-- <p style="text-align:center;"><strong>Forms:</strong></p>
<ul class='plist'>
  <li>Sale & Purchase
    <ul>
      <li>Option To Purchase</li>
      <li>Resale Checklist for Sellers & Buyers</li>
    </ul>
  </li>
  <li>Rental
    <ul>
      <li>Tenancy Agreement</li>
      <li>Letter Of Intent</li>
      <li>Inventory List</li>
    </ul>
  </li>
</ul> -->
</div>
</div>
<p>&nbsp;</p>

<p>Even when the simplest seems not so simple (and yes! we are also victims of this), just drop us a call or email. We are always there for you to answer all your questions!</p>
<p>DirectHome is truly a one-stop listing portal and knowledge-driven platform that enables home owners and home seekers to transact directly with one another.</p>
<p>We welcome you to this new ecosystem in property transaction, where commission is not in your consideration.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="table-container">
                   <table width="100%">
                     <tr>
                      <th width="50%"></td>
                      <th width="25%"><h2>Use DirectHome</h2></td>
                      <th width="25%"><h2>Engage an Agent</h2></td>
                     </tr>
                     <tr>
                       <td width="50%"><p> Saves you significant sum of money in commission</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                          
                       </td>
                     </tr>
              
                       <td width="50%"><p>Direct communication to buyers and tenants </p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i>
                        </td>
                       <td width="25%" class="center" valign="top">
                          <!-- <i class="fa fa-check-circle"></i> -->
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Clear and concise selling and renting step-by-step process flow </p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                          <!-- <i class="fa fa-check-circle"></i> -->
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>You understand your Home best, naturally you are the best person to promote your Home. </p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Unique and only one genuine listing of your home. No dummy or duplicate advertisements by agents. </p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Quality photos taken at your most convenient time, without agent’s watermark logo </p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Absolute control of the sale and rent process</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Not pressured to sell or rent</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>No need to reveal sensitive info to property agents</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>No missing of potential buyers and tenants when property agents are not free</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Conduct viewings when Home Owners are overseas or not available</p></td>
                       <td width="25%" class="center" valign="top">
                         </td>
                       <td width="25%" class="center" valign="top">
                           <i class="fa fa-check-circle"></i>
                       </td>
                     </tr>
                   </table></div>
                  
                 </div>
                       
                       </div>
               <div class="row center">
                 <p>&nbsp;</p>
                 
                 <%= link_to 'Start Listing', user_listings_path, class: "signup btn btn-lg btn-red" %>
                  </div>
                 </div>
               
                 <div id="sectionB" class="tab-pane fade">
                       <div class="row ">
                           <div class="col-sm-12">
                   <p>DirectHome is an online platform portal for buyers and tenants to browse through genuine and unique home postings by individual sellers and landlords.</p>
<p>DirectHome provides the step-by-step process flow for you to transact successfully with the sellers and landlords.</p> 
<p>With DirectHome messaging system, home seekers (buyers & tenants) and home owners (sellers & landlords) can contact one another directly to arrange for viewings.</p>
<p>DirectHome also breaks down all the forms and paperwork requirements into simple steps that anyone, and everyone will be able to fill up.</p>
<p>What’s more! Financial calculations with valuation of the home and Timeline schedule planning are accessed and given to home owners and home seekers! All related forms are downloadable from your user dashboard too.
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
  <div class="col-sm-4">
    <!-- <p style="text-align:center;"><strong>Financial Calculations:</strong></p>
    <ul class='plist'>
      <li>Valuation of property (HDB & Private)</li>
      <li>Buyer’s Total Debt Servicing Ratio (TDSR)</li>
      <li>Buyer’s Mortgage Servicing Ratio (MSR)</li>
      <li>Buyer’s Maximum Loan amount (HLE & Bank Loan)</li>
      <li>Additional Buyer's Stamp Duty (ABSD)</li>
      <li>Total amount required for purchase</li>
      <li>Monthly Instalment amount in CPF & Cash (HDB & Private)</li>
      <li>Rental prices</li>
      <li>Stamp Duty</li>
    </ul> -->
    <div class="table-container"><table class="styledtable">
      <tr>
        <th style="text-align:center;text-transform:uppercase">Financial Calculations</th>
      </tr>
      <tr>
        <td><ul class='plist'>
      <li>Valuation of property (HDB & Private)</li>
      <li>Buyer’s Total Debt Servicing Ratio (TDSR)</li>
      <li>Buyer’s Mortgage Servicing Ratio (MSR)</li>
      <li>Buyer’s Maximum Loan amount (HLE & Bank Loan)</li>
      <li>Additional Buyer's Stamp Duty (ABSD)</li>
      <li>Total amount required for purchase</li>
      <li>Monthly Instalment amount in CPF & Cash (HDB & Private)</li>
      <li>Rental prices</li>
      <li>Stamp Duty</li>
    </ul></td>
      </tr>
    </table></div>
  </div>
  <div class="col-sm-4">
    <!-- <p style="text-align:center;"><strong>Timeline Schedule Plan:</strong></p>
    <ul class='plist'>
      <li>To have a roof over you at all times, with time for renovation</li>
      <li>To receive the Sale proceed to pay for the next property Purchase</li>
    </ul> -->
    <div class="table-container"><table class="styledtable">
      <tr>
        <th style="text-align:center;text-transform:uppercase">Timeline Schedule Plan</th>
      </tr>
      <tr>
        <td><ul class='plist'>
      <li>To have a roof over you at all times, with time for renovation</li>
      <li>To receive the Sale proceed to pay for the next property Purchase</li>
    </ul></td>
      </tr>
    </table></div>
  </div>
  <div class="col-sm-4">
    <div class="table-container"><table class="styledtable">
      <tr>
        <th style="text-align:center;text-transform:uppercase">Forms - How to Fill</th>
      </tr>
      <tr>
        <td><ul class='plist'>

      <li>Sale & Purchase
        <ul>
          <li>Option To Purchase</li>
          <li>Resale Checklist for Buyers</li>
        </ul>
      </li>
      <li>Rental
        <ul>
          <li>Tenancy Agreement</li>
          <li>Letter Of Intent</li>
          <li>Inventory List</li>
          <li>e-Stamping</li>
        </ul>
      </li>
    </ul></td>
      </tr>
    </table></div>
    <!-- <p style="text-align:center;"><strong>Forms:</strong></p>
    <ul class='plist'>

      <li>Sale & Purchase
        <ul>
          <li>Option To Purchase</li>
          <li>Resale Checklist for Buyers</li>
        </ul>
      </li>
      <li>Rental
        <ul>
          <li>Tenancy Agreement</li>
          <li>Letter Of Intent</li>
          <li>Inventory List</li>
        </ul>
      </li>
    </ul> -->
  </div>
</div>
<p>&nbsp;</p>







<p>Even when the simplest seems not so simple (and yes! we are also victims of this), just drop us a call or email. We are always there for you to answer all your questions!</p>
<p>DirectHome is truly a one-stop listing portal and knowledge-driven platform that enables home seekers and home owners to transact directly with one another.</p>
<p>Oh… Did we mention that these suite of services is free for home seekers? Yes.</p>
<p>We welcome you to this new ecosystem in property transaction, where commission is not in your consideration.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="table-container">
                   <table width="100%">
                     <tr>
                      <th width="50%"></td>
                      <th width="25%"><h2>Use DirectHome</h2></td>
                      <th width="25%"><h2>Engage an Agent</h2></td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Absolutely no cost to you! You get to save any commission otherwise payable to agents. If you are a private property buyer, you can negotiate a better deal for yourself!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                          
                       </td>
                     </tr>
              
                       <td width="50%"><p>Direct communication & negotiation to sellers and landlords!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i>
                        </td>
                       <td width="25%" class="center" valign="top">
                          <!-- <i class="fa fa-check-circle"></i> -->
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Clear and concise step-by-step buying and renting process flow.</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                          <!-- <i class="fa fa-check-circle"></i> -->
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Unique and genuine individual listings! No more searching for hundreds of listings only to find out more duplicate or dummy than real listings!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Quality photos taken by Home Owners, without agent’s watermark logo, for better browsing experience!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Efficient viewing arrangement! You view homes that interest you as and when you are available. No more being “swing” to undesired condos viewings.</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>No need to reveal sensitive financial or personal info to property agents.</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>No pressure to buy or rent!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Total control of the purchase and renting process</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>Get to know in-depth details of your next Home, direct from the Home Owner’s mouth, be it the short-cut route, any pianist lessons in development or the theme behind the renovation!</p></td>
                       <td width="25%" class="center" valign="top">
                         <i class="fa fa-check-circle"></i></td>
                       <td width="25%" class="center" valign="top">
                      
                       </td>
                     </tr>
                     <tr>
                       <td width="50%"><p>To drive you around for viewings.</p></td>
                       <td width="25%" class="center" valign="top">
                         </td>
                       <td width="25%" class="center" valign="top">
                           <i class="fa fa-check-circle"></i>
                       </td>
                     </tr>
                   </table></div>
                  
                 </div>
                       
                       </div>
               <div class="row center">
                 <p>&nbsp;</p>
                 <%= link_to 'Browse Listings', listings_path,  class: "btn btn-lg btn-red center" %>
                  </div>
                 </div>
             
             
                
                   
           </div>
         </div>
                       
           </div>
     </div>
   </div>
</div>