    <div class="contents container">
	<div class="row">
		
		<%= render 'other_services' %>
		
		<div class="col-sm-9 resource_contents">
				   <h1>Law Firms</h1>
				   <p>&nbsp;</p>
				   <div class="row">
					   <div class="col-sm-12">
						   <%= image_tag "apac_law.jpg", width: "300px" %>
						   <p>&nbsp;</p>
						   <p><strong>APAC LAW CORPORATION</strong></p>
						   <p>Amos Lee C.K.<br>
							   General Manager<br>
							   +65 9107 3707<br>
							   amos.lee@apaclaw.com</p>
					  
						   <p>430 Toa Payoh Lor 6<br>
							   #12-01 Orange Tee Building<br>
							   Singapore 319402<br>
							   Tel: +65 6397 6448<br>
							   Fax: +65 6397 6449
						   </p>
					   </div>
				   </div>
					  
					  		</div>
					  	</div>
					  </div>
