<li>
  <%#= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote %>
  <% if current_page.first? %>
    <%= content_tag(:span, raw(t 'views.pagination.previous')) %>
  <% else %>
    <%= link_to raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote %>
  <% end %>
</li>
