<style>
  a { text-decoration: none;}
  .confirm_button {
  	padding: 4px 6px 6px 6px;
  	margin-top: 5px; border-radius: 4px;
  	background-color: #E43455;
  }
  .confirm_button a {
  	color: #fff;
  }
  .heading {
  	text-align: center;
  	width:100%;
  }
</style>

<!--p>Hello <%#= @resource.email %>!</p-->
<p>Hello <%= @resource.fullname %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<%# url_to_edit_password = prepend_url_path url: edit_user_password_url(@resource, reset_password_token: @token), prepend_with: AppConfig['relative_url_root'] %>
<p><button class="confirm_button"><%= link_to 'Change my password', edit_user_password_url(@resource, reset_password_token: @token) %></button></p>
<!--p><button class="confirm_button"><%#= link_to 'Change my password', url_to_edit_password %></button></p-->

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
