        <% unless user_signed_in? %>
          <li class="visible-xs margin-10-top-bottom"><%= link_to 'Sign Up', "#{new_user_registration_path}#", class: "btn btn-red btn-curve signup-xs", 'data-target' => '#new_user_registration_modal' %><span class="inline"> &nbsp; </span><%= link_to 'Sign In', "#{new_user_session_path}#", class: "btn btn-red btn-curve signup-xs", 'data-target' => '#new_user_session_modal' %></li>
        <% end %>
